{% extends 'mainsite/base.html' %}

{% block content %}

<div class="container py-2 shadow px-4 rounded-lg">
    
    <div>
<!--        Inserir foto -->
    </div>
    
    <h3 class="font-serif text-3xl font-bold py-10 text-yellow-900">A few words about bows</h3>

    <p class="font-georgia py-2 text-justify">
        The priority for a string player, being a student or a professional, is to use a well sounding instrument,
        according to his personal standards. There has always been a question: whether the violin or the viola,
        violoncello, and double bass (whichever the case) or the bow comes first when choosing a musical tool.
        The vast majority of players look for the instrument, and then for a bow.  In a way, they are right.
        As a player, it makes you more confident when you have an instrument that sounds the way you want to hear.
        Tone quality and volume are inherent to the "acoustic box" of a violin. Therefore, a well suited bow to the performer's
        way of playing and to the violin he uses is of crucial importance.
    </p>

    <p class="font-georgia py-2 text-justify">
        The tone is produced by the right arm through the bow which, depending on its character, is responsible for the
        articulation and the timbre.  A given violin may sound dark or somber, have a clear or sluggish articulation,
        depending on the bow it is paired with.  The preference for a heavy or a light bow is personal, and it depends
        on the way you play.  If you produce sound through bow speed, or through bow pressure, you will choose a bow
        accordinly.
    </p>

    <p class="font-georgia py-2 text-justify">
        Balance is an important feature.  A well balanced bow certainly saves you energy and effort, after long hours
        of playing.  If you take as an example a heavy violin bow, weighing between 62.5 and 64.0 grams, it may give
        you the feeling of comfort if the stick is not tip heavy; whereas, a light bow (58.0 grams or under) may feel
        pleasant in the hand if the stick is strong and well balanced.
    </p>

    <p class="font-georgia py-2 text-justify">
        Balance point is measured starting from the lower end toward the middle.  Some bow makers prefer to measure it
        starting from the lower end, without counting the button.  Others measure from the thumb position.  I
        personally measure balance point starting from the extreme lower end, counting with the button.  These are
        nothing but personal ways of measuring balance point.
    </p>

    <p class="font-georgia py-2 text-justify">
        Nervousness is one of the features mostly appreciated by string players.  A nervous stick is what brings
        clarity to the articulation.  Therefore, when the stick is excessively nervous, the bow control becomes
        difficult, and the tone can get hysterical.
    </p>

    <p class="font-georgia py-2 text-justify">
        The models I use for tips and frogs are all personal.  I try to make the camber and the caliber of my sticks
        the most homogenous I can.  I've never made copies.  Each bow I make is a unique model, individually designed.
    </p>

    <p class="font-georgia py-2 text-justify">
        Summarizing, a bow may be heavy, average weight, or light; more importantly, a good bow gathers strength and
        malleability, enough to embrace the strings and to project the sound with clarity and warmth.
    </p>

</div>

{% endblock %}
