{% extends 'mainsite/base.html' %}

{% block content %}

<div class="text-1xl">
    <h1 class="text-3xl text-yellow-900 font-serif" > Where to find my bows </h1>
    <p class="font-georgia text-1xl" > My bows are shipped worldwide from Brazil.
        Also, I have agents in Paris and California. </p>


    <p> For retail and wholesale prices, please contact me on </p>
    <p> . </p>
        <a class="underline text-yellow-900 font-bold" href="mailto:alysiodm@gmail.com">alysiodm@gmail.com</a> </p>

        <p> <a class="underline text-yellow-900 font-bold" href="https://instagram.com/alysiodm"> instagram at @alysiodm </a> </p>
        <p> <a class="underline text-yellow-900 font-bold" href="tel:+5521992418180">via Whatsapp</a> </p>

</div>

{% endblock %}