{% extends 'mainsite/base.html' %}

{% block content %}

{% load static %}

<div class="container py-4 bg-gray-200 px-4 rounded-lg">

    <h3 class="text-yellow-900 font-serif text-3xl font-bold py-10">WOOD</h3>

    <p>
        Since 1997 I have been getting pernambuco crops of two species:  the most common "small leaf",
        and the type known as "orange leaf". They come from the Brazilian states of Minas
        Gerais, Rio de Janeiro and Bahia. In my ranch, in Saquarema (a small town in the state
        of Rio de Janeiro), I have two hectares of land destinated to replanting pernambuco trees and other noble
        species of the Atlantic Forest. There, I also have an adult pernambuco tree of around 35
        years old. From that tree alone I get dozens of crops per year. Gradually, I'm expanding my
        plantation to other parts of the area.
    </p>



    <div class="justify-center py-8">
        <img src="{% static 'mainsite/wood_1.JPG' %}" class="justify-center     border-4 border-black">
    </div>

</div>

{% endblock %}